.planetWraper{
    
    display: flex;
    align-items: center;
    margin-bottom: 10%;
}

.nameDsiplayer{
    margin-left: 10%; 
    font-size: 5rem;
    color: white;
    text-align: center;
}
.solen{
    height: 280px;
    width: 280px;
    background-color:#FFD029 ;
    border-radius: 50%;
    display: inline-block;
    margin: 10px;
}
.solen:hover{
    height: 300px;
    width: 300px;
   
}

.merkurius{
    height: 35px;
    width: 35px;
    background-color:#8C8B85 ;
    border-radius: 50%;
    display: inline-block;
    margin: 10px;
}
.merkurius:hover{
    height: 85px;
    width: 85px;
}
.venus{
    height: 40px;
    width: 40px;
    background-color:#E7CCCB ;
    border-radius: 50%;
    display: inline-block;
    margin: 10px;
}
.venus:hover{
    height: 80px;
    width: 80px;

}

.jorden{
    height: 65px;
    width: 65px;
    background-color:#428ED5 ;
    border-radius: 50%;
    display: inline-block;
    margin: 10px;
}
.jorden:hover{
    height: 105px;
    width: 105px;
  
}
.mars{
    height: 35px;
    width: 35px;
    background-color:#EF5F5E ;
    border-radius: 50%;
    display: inline-block;
    margin: 10px;
}
.mars:hover{
    height: 80px;
    width: 80px;
    
}
.jupiter{
    height: 100px;
    width: 100px;
    background-color:#E29468 ;
    border-radius: 50%;
    display: inline-block;
    margin: 10px;
}
.jupiter:hover{
    height: 150px;
    width: 150px;
}
.saturnus{
    height: 75px;
    width: 75px;
    background-color:#C7AA72 ;
    border-radius: 50%;
    display: inline-block;
    margin: 10px;
   
}
.saturnus:hover{
    height: 150px;
    width: 150px;
}
.uranus{
    height: 50px;
    width: 50px;
    background-color:#C9D4F1 ;
    border-radius: 50%;
    display: inline-block;
    margin: 10px;
   
}
.uranus:hover{
    height: 100px;
    width: 100px;
   
}
.neptunus{
    height: 30px;
    width: 30px;
    background-color:#7A91A7 ;
    border-radius: 50%;
    display: inline-block;
    margin: 10px;
   
}

.neptunus:hover{
    height: 80px;
    width: 80px;
}