.planetNav{
background-color: transparent;
width: 100%;
}

.favWraper{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.material-icons{
    color: red;
    font-size: 40px;
    margin-right: 5%;
    margin-top: 1%;
}

.favSpan{
   
    font-size: 20px;
    margin-right: 2.5%;
}
